* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #CFCFC6;
    color: #000;
}

.header {
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
}

.main {
    margin-bottom: 60px;
    padding: 1em 2.5em;
}

.mid {
    text-align: center;
    padding-bottom: 2em;
}

.nav-menu {
    width: 100%;
    /* position: absolute; */
    z-index: 10;
    padding: 0 5%;
    height: 6em;
    background-color: #416A96;
}

.nav-menu .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu .logo p {
    margin-left: .5em;
}

.nav-menu .list {
    float: right;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu .list li {
    list-style: none;
}

.nav-menu .list a {
    display: block;
    text-transform: uppercase;
    padding: .3em .5em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.logo p {
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.nav-menu .list a:hover {
    border-bottom: .2em solid #fff;
}

#toggle {
    position: absolute;
    top: -100px;
}

.nav-menu .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.nav-menu .icon-bars .line {
    width: 1em;
    height: .2em;
    background-color: #fff;
    margin: .2em;
    border-radius: .4em;
    transition: all .3s ease-in-out;
}

.info {
    padding: .4em;
}

.info h4 {
    color: #fff;
    display: inline-block;
}

.info p {
    color: #9b9b9b;
    display: inline;
}

.card {
    margin: 2.5em;
}

.card-body {
    padding: 1em;
    margin-top: 2em;
    background-color: #528699;
    border-radius: 1em;
}

.card-body h2 {
    color: #fff;
}

.card-maps {
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    background-color: #528699;
    border-radius: 1em;
}

.button {
    background-color: #9DBFD3;
    color: #000;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
}

.button:hover {
    background-color: #6092af;
    color: #000;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
}

.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    margin: 0;
}

.login {
    text-align: center;
    padding: 2rem 3rem;
    background-color: #43678b;
    color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    border: .2em solid;
    box-shadow: inset 1em black;
}

.login h2 {
    text-align: center;
    padding-bottom: 1.2rem;
    font-size: xx-large;
}

.login input[type=email],
.login input[type=password] {
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    border: .2em solid #ababab;
    border-radius: .5em;
    box-sizing: border-box;
}

.login input {
    text-align: center;
    width: 80%;
}

.login input[type=submit] {
    padding: .6rem 2rem;
    border: none;
    border-radius: .3rem;
    background-color: #ccd9ea;
    font-size: large;
    margin: 1rem 0;
    width: 90%;
}

.login input[type=submit]:hover {
    padding: .6rem 2rem;
    border: .1em solid #6d85a5;
    border-radius: .3rem;
    background-color: #a5b9d1;
    font-size: large;
    margin: 1rem 0;
    width: 92%;
    transition-duration: 100ms;
}

.login a {
    color: #fff;
    font: bold;
}

.login-links p {
    display: inline;
}

.form-group label {
    width: 100%;
    text-align: center;
}

/* Formularios de registro */
.form-register {
    width: 40%;
    background-color: #43678b;
    padding: 2em;
    margin: 0 auto;
    border-radius: 1em;
    color: #fff;
    border: .2em solid;
    box-shadow: .5em .3em #c3c3be;
}

.form-register h4 {
    font-size: 1.8em;
    margin-bottom: .6em;
}

.form-register label {
    color: #fff;
}

.form-register label:hover {
    padding-left: .3em;
    transition: all .3s ease;
}

.controls {
    width: 100%;
    background: #36495d;
    padding: 1em;
    border-radius: .4em;
    margin-bottom: 1em;
    border: .1em solid #dbdbdb;
    color: #fff;
    font-size: 1em;
}

.controls::placeholder {
    color: #8e9eaf;
}

.form-register a {
    display: block;
    text-align: center;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
    margin-top: 1em;
}

.form-register a:hover {
    color: #b8cee5;
    font-size: 1.1em;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background-color: #ccd9ea;
    padding: .8em;
    border: none;
    color: #000;
    font-size: 1.3em;
    font-weight: bolder;
    transition: all .2s ease;
}

.form-register .botons:hover {
    background-color: #afbac9;
}

/* Products list */
.list-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    padding: 0 1em;
    margin: 1.2em;
    background-color: #9d9d97;
    border-radius: 1em;
    color: #fff;
    text-align: left;
    width: 250px;
}

.product-image img {
    border-radius: 2em;
    padding: 1em .6em;
    height: auto;
    width: 215px;
}

.product-info a {
    color: #cacaca;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.2s linear 0s;
}

.product-info a:hover {
    color: #e2f2ff;
}

.product-info h4 {
    padding-bottom: .5em;
}

.product-price .price {
    color: #1765be;
    font-weight: 700;
    line-height: 2em;
    margin-right: .5em;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5em;
}

.stock {
    margin-bottom: 1em;
}

.stock span {
    background-color: #1765be;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-check:before {
    content: "\f00c";
}

svg {
    fill: #fff;
}

.product-item {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.conteiner-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    padding: 1em 2em;
}

.content-image {
    position: relative;
    margin: auto 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-item-description {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.product-item-description img {
    width: 100%;
}

.pruduct-item-info {
    display: inline-block;
    justify-content: space-between;
}

.product-item-info-content {
    padding: 10px;
    border: 1px solid #ccc;
}

.product-item-available h5 {
    margin: 0;
}

.product-item-available span {
    font-weight: bold;
}

.product-item-trolley form {
    margin-top: 10px;
}

.product-item-trolley label {
    font-size: 3em;
    font-family: 'FjallaOneRegular';
    line-height: 40px;
    text-transform: uppercase;
    color: #666666;
    font-weight: normal;
}

.product-item-image {
    display: inline-block;
}

.product-item-image img { 
    border-radius: 1em;
    margin: .8em 2em;
    margin-left: 0;
    width: 300px;
}

.product-item-available {
    margin: 1em 0;
}

.product-item-available p {
    display: inline;
    color: #1765be;
}

.product-item-price p {
    margin: 1.5em auto;
    border-top: solid #000;
    border-bottom: solid #000;
    padding: 1.2em 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #1765be;
}

.product-item-trolley input[type=number] {
    padding: 1em;
    border: .2em solid #ababab;
    background-color: #fff;
    border-radius: .5em;
    box-sizing: border-box;
    margin: auto .5em;
    color: #000;
    width: 6em;
}

.product-item-trolley input[type=submit] {
    padding: .5em 2em;
}

.sliders-advertisements {
    width: 60%;
    margin: 0 auto;
}

.slider-box {
    width: 100%;
    height: auto;
    margin: 1em auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    33% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    66% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }

    /* 75% { margin-left: -300%; }
    100% { margin-left: -300%; } */
}

.product-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.bar-search {
    display: flex;
    background-color: #fff;
    margin: 0 auto;
    padding: 1em 2em;
    border: 2px solid #b5b5b5;
    border-radius: 6px;
    width: 60%;
}

.bar-search input[type=search] {
    padding: 1em;
    border: .2em solid #ababab;
    background-color: #fff;
    border-radius: .5em;
    box-sizing: border-box;
    margin: auto .5em;
    color: #000;
}

.bar-search form {
    width: 91%;
}

.iconSearch {
    margin-left: 0;
    margin: auto .5em;
}

.content-admin {
    margin: 0;
    padding: 0;
    display: flex;
}

.column-nav {
    background-color: #6092af;
}

.content-admin .column-nav {
    flex-direction: column;
}

.column-nav .content-nav {
    text-align: center;
}

.content-nav .list-column li {
    margin: 1em;
}

.content-admin .content-view {
    
}

@media(max-width: 920px) {
    .nav-menu .logo {
        width: auto;
        justify-content: center;
    }

    .nav-menu .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 6em;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .nav-menu .list a {
        font-size: 1em;
    }

    .nav-menu :checked~.list {
        bottom: 0;
    }

    .nav-menu .icon-bars {
        display: block;
        top: 2.9em;
    }

    .form-register {
        width: auto;
        /* margin-bottom: 2em; */
    }

    .login {
        width: 85%;
    }

    .login-links p {
        visibility: collapse;
        display: block;
    }

    .login input {
        width: 90%;
    }

    .conteiner-items {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .product-item {
        width: 100%;
        display: flex;
        margin: 1em auto;
    }

    .pruduct-item-info {
        margin-bottom: 2em;
    }

    .product-item .product-image img {
        border-radius: 2em;
        text-align: center;
        width: 100%;
    }

    .content-image {
        top: 0;
        left: 0;
        transform: none;
    }

    .product-item-image img {
        width: 100%;
        padding: .3em;
    }

    .product-item .product-item-description {
        width: 100%;
        flex-wrap: wrap;
    }

    .product-item-image {
        display: block;
        /* margin: 0 auto; */
    }

    .product-item-description img {
        width: 100%;
    }

    .card-maps iframe {
        width: 80%;
    }

    .sliders-advertisements {
        width: 80%;
    }

    .slider-box {
        width: 100%;
    }

    .bar-search {
        width: 90%;
        padding: .5em;
    }

    .iconSearch {
        margin: auto 0;
    }
}